[Desktop Entry]
Type=Application
Name=Optiscaler Client
GenericName=OptiScaler Manager
Comment=A modern manager for OptiScaler
Exec=OptiscalerClient
Icon=io.github.optiscaler_client.Optiscaler_Client
Categories=Utility;
StartupNotify=true
StartupWMClass=OptiscalerClient
Terminal=false
